/* index.css */

.Booklist {
  display: flex; /* Display books in a row */
  flex-wrap: wrap; /* Allow wrapping to the next line */
  background-color: rgb(228, 212, 214);
  gap: 20px; /* Space between books */
}

.BookClass {
  align-items: center;
  background-color: #23254f;
  width: 200px; /* Set a fixed width */
  height: 300px; /* Set a fixed height */
  border: 1px solid #1f1d1d; /* Optional: Add a border */
  border-radius: 10px; /* Optional: Rounded corners */
  overflow: hidden; /* Hide overflow content */
  display: flex; /* Use flexbox for alignment */
  flex-direction: column; /* Stack items vertically */
  justify-content: space-between; /* Space between content */
  text-align: center; /* Center the text */
  padding: 40px; /* Add some padding */
}

.BookClass img {
  width: 100%; /* Make the image take full width */
  height: auto; /* Keep aspect ratio */
  max-height: 150px; /* Set a max height for images */
  object-fit: contain; /* Crop the image to fill the area */
}

.users {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 0.2rem;
  margin: 2rem auto;
}
.users li {
  width: 100%;
  display: flex;
  align-items: center;
  background: var(--clr-white);
  padding: 1rem 1rem;
  border-radius: var(--radius);
  text-align: left;
}
.users img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 1rem;
}
.users h4 {
  margin-bottom: 0.25rem;
}
.users a {
  color: var(--clr-red);
  font: cursive;
  margin-bottom: 0.15rem;
  text-transform: capitalize;
  margin-top: 0.4rem;
}

.modal {
  position: absolute;
  top: 2rem;
  left: 50%;
  transform: translateX(-50%);
  background: var(--clr-white);
  display: inline-block;
  padding: 0.25rem 1rem;
  border-radius: var(--radius);
  text-transform: capitalize;
}

.modal p {
  margin-bottom: 0;
  color: var(--clr-red-dark);
}
.form {
  background: var(--clr-white);
  max-width: var(--fixed-width);
  margin: 0 auto;
  margin-bottom: 4rem;
  padding: 1rem 2rem;
  border-radius: var(--radius);
}
.form input {
  background: var(--clr-grey-10);
  border-color: transparent;
  border-radius: var(--radius);
  padding: 0.25rem 0.5rem;
}
.form-control {
  margin: 0.5rem 0;
  display: grid;
  grid-template-columns: 100px 1fr;
  align-items: center;
}
.form button {
  display: inline-block;
  background: var(--clr-black);
  color: var(--clr-white);
  border-color: transparent;
  margin-top: 1rem;
  letter-spacing: var(--spacing);
  padding: 0.15rem 0.25rem;
  text-transform: capitalize;
  border-radius: var(--radius);
  cursor: pointer;
}
